table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
  }
  
  tr:nth-child(even) {
	background-color: #dddddd;
  }

  .equal_result {
	background-color: #00ff2a;
  }

  .different_result {
	background-color: #f80505;
  }

  .partially_equal_result {
	background-color: #ffa600;
  }